img.img-ironman {
  width: 40%;
  height: 40%;
  margin-bottom: 10px;
}

body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.ironman {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Estilos para las columnas de ironman-row */
.ironman-row .col-md-4 {
  margin-bottom: 20px;
}

.title {
  text-align: center;
  font-size: 60px; /* Tamaño de la fuente aumentado */
  color: #ff0000; /* Letras rojas */
  margin-top: 50px; /* Margen superior reducido */
  transform: translateY(-50%);
  font-family: "Bebas Neue", sans-serif; /* Fuente personalizada */
}

img.img-thumbnail {
  width: 80%;
  height: 80%;
}
